@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

button {
  transition: all 0.3s ease;
  cursor: pointer;
}
